:root {
  --html-color: #e34f26;
  --css-color: #1572b6;
  --js-color: #f7df1e;
  --ts-color: #3178c6;
  --node-color: #339933;
  --react-color: #61dafb;
  --next-color: #000000;
  --next-rgb-color: 0,0,0;
  --scss-color: #cc6699;
  --bash-color: #4eaa25;
  --php-color: #777bb4;
  --mongo-color: #47a248;
  --mysql-color: #4479a1;

  --background-color: #f7f7f7;
  --foreground-color: #1b1c1e;

  --navbar-background-color: rgba(247, 247, 247, 0.3);
  --primary-color: #1c73f3;

  --percentage-gradients: 80%;
  --percentage-alpha-bg-skills: 8%;
}

$html-color: #e34f26;
$css-color: #1572b6;
$js-color: #f7df1e;
$ts-color: #3178c6;
$node-color: #339933;
$react-color: #61dafb;
$next-color:#000000;
$scss-color: #cc6699;
$bash-color: #4eaa25;
$php-color: #777bb4;
$mongo-color: #47a248;
$mysql-color: #4479a1;

// detect preference color scheme (light or dark) media query
@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1c1e;
    --foreground-color: #f7f7f7;
    --navbar-background-color: rgba(27, 28, 30, 0.3);
    --percentage-gradients: 24%;
    --next-color: #ffffff;
    --next-rgb-color: 255,255,255;
  }
  $next-color:#ffffff;
}
