:root {
  --html-color: #e34f26;
  --css-color: #1572b6;
  --js-color: #f7df1e;
  --ts-color: #3178c6;
  --node-color: #339933;
  --react-color: #61dafb;
  --next-color: #ffffff;
  --scss-color: #cc6699;
  --bash-color: #4eaa25;
  --php-color: #777bb4;
  --mongo-color: #47a248;
  --mysql-color: #4479a1;
}

$html-color: #e34f26;
$css-color: #1572b6;
$js-color: #f7df1e;
$ts-color: #3178c6;
$node-color: #339933;
$react-color: #61dafb;
$next-color: #000000;
$scss-color: #cc6699;
$bash-color: #4eaa25;
$php-color: #777bb4;
$mongo-color: #47a248;
$mysql-color: #4479a1;
